<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 border-b-2 border-black px-2">
<nav class="bg-white sm:px-4 py-2.5 shadow-md">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
        <a href="/" class="flex items-center space-x-3">
            <img 
                src="/logo.png" 
                alt="ЛегитСтор" 
                class="h-8 sm:h-10" 
                width="auto"
                height="auto"
            >
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-black">
                ЛегитСтор
            </span>
        </a>
        <div
                class="w-full md:block md:w-auto hidden"
                id="mobile-menu"
        >
            <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                <li>
                    @if (isAuthenticated) {
                      <p class="text-white">Здравствуйте {{ username }}</p>
                      <a
                        (click)="logout()"
                        class="block py-2 pr-4 pl-3 text-black hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-red-700 md:p-0">
                        Выйти
                      </a>
                    } @else {
                      <a
                        (click)="login()"
                        class="block py-2 pr-4 pl-3 text-black hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">
                        Вход
                    </a>
                    }
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
